@font-face {
  font-family: 'Unown';
  src: url('./fonts/Unown.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Gameboy';
  src: url('./fonts/Gameboy.ttf');
}

:root {
  --red: #FF0000;
  --yellow: #FFDE00;
  --small-space: 10px;
  --medium-space: 25px;
  --large-space: 50px;
  --overlay-color: rgb(200, 200, 200);
  --overlay-color-translucent: rgb(200, 200, 200, 0.8);
}

.header {
  font-family: 'Unown', sans-serif;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 5rem;
  background-color: var(--yellow);
  padding: var(--small-space);
  position: relative;
}

.header button.instructions {
  position: absolute;
  top: 5px;
  left: 5px;
}

.score-display {
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  background-color: var(--yellow);
  font-family: 'Gameboy', sans-serif;
}

.score {
  margin: var(--small-space);
  font-size: 1.2rem;
}

.gameboard {
  background-color: var(--red);
  padding: var(--large-space);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 50px;
}

.card {
  font-family: 'Unown', sans-serif; 
  font-size: 2rem;

  width: 200px;
  height: 250px;
  background-color: var(--overlay-color);
  border-radius: 10px;
  box-shadow: 5px 5px rgb(100,100,100, 0.7);

  display: grid;
  place-items: center;
}

.card img {
  height: 150px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: background 1s, visibility 1s;

  display: grid;
  place-content: center;
  place-items: center;
  gap: var(--large-space);
}

.overlay.visible {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  max-height: 100%; 
}

.instructions-text {
  font-family: 'Gameboy', sans-serif;
  font-size: 1rem;
  background-color: var(--overlay-color);
  display: grid;
  place-items: center;
  padding: var(--medium-space);
  min-width: min-content;
  max-width: 50%;
}

ol {
  display: grid;
  gap: var(--medium-space);
}

.end-message {
  font-family: 'Unown', sans-serif;
  font-size: 6rem;
  padding: var(--medium-space);
  background-color: var(--overlay-color-translucent);
  display: grid;
  place-items: center;
}

.overlay button {
  height: 3rem;
  width: 200px;
  font-size: 2rem;
  font-family: 'Unown', sans-serif;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 200, 0);
  outline: none;
}

.overlay button:hover {
  background-color: rgb(0, 250, 0);
  border: none;
}

.overlay.hidden {
  visibility: hidden;
  background: none;
  max-height: 0;
}

.footer {
  display: grid;
  place-content: center;
  font-family: 'Gameboy', sans-serif;
  background-color: var(--red);
}

.loading {
  font-family: 'Gameboy', sans-serif;
  font-size: 4rem;
  background-color: var(--overlay-color-translucent);
  padding: var(--large-space);
  padding-bottom: var(--medium-space);
}